
<button class="nuevo"  mat-raised-button color="primary" (click)="openModal()" >Crear</button>


<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.IdPersonaNavigation.Identificacion}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="carnet">
      <th mat-header-cell *matHeaderCellDef> Carnet </th>
      <td mat-cell *matCellDef="let element"> {{element.Carnet}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.IdPersonaNavigation.Nombre}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="apellido1">
      <th mat-header-cell *matHeaderCellDef> Primer Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.IdPersonaNavigation.Apellido1}} </td>
    </ng-container>

       <!-- Symbol Column -->
       <ng-container matColumnDef="apellido2">
        <th mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.IdPersonaNavigation.Apellido2}} </td>
      </ng-container>


        <!-- Symbol Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element"> 
            <button class="nuevo" mat-raised-button color="accent" (click)="openModal(element)">Actualizar</button>
            <button class="nuevo" mat-raised-button color="warn"  (click)="eliminar(element)">Eliminar</button>
          </td>
        </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>